<div class="container mt-5">
    <div class="row">
        <h1 class="title">Products</h1>
    <div class="col-12">
        <kendo-grid
          class="my-kendo-table"
          [data]="products"
          [pageSize]="pageSize"
          [skip]="skip"
          (pageChange)="pageChange($event)"
        >
          <kendo-grid-column field="id" title="ID"></kendo-grid-column>
          <kendo-grid-column field="name" title="Name"></kendo-grid-column>
          <kendo-grid-column
            field="description"
            title="Description"
          ></kendo-grid-column>
          <kendo-grid-column field="price" title="Price"></kendo-grid-column>
          <kendo-grid-column field="image" title="Image">
            <ng-template kendoGridCellTemplate let-dataItem>
              <img class="flag" [src]="dataItem.image" [width]="30" />
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="action" title="Action" [class]="{ 'text-center': true }">
              <ng-template kendoGridCellTemplate let-dataItem>
                    <button kendoButton class="badge" (click)="deleteProduct(dataItem.id)" themeColor="error">
                        <kendo-icon name="trash"></kendo-icon>
                    </button>
                </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
      <div class="col-12">
        <button kendoButton routerLink="/check-out" [disabled]="!products.length" class="mt-2 col-12" style="float: right; background-color: #e35869; color: #fff;">
            Check Out
        </button>
      </div>
    </div>
  </div>  