<h2>Invoices</h2>

<kendo-grid
  [kendoGridBinding]="gridView"
  [pageSize]="10"
  [pageable]="true"
  [columnMenu]="{ filter: true }"
>
  <ng-template kendoGridToolbarTemplate>
    <input
      [style.width.px]="165"
      placeholder="Search in all columns..."
      kendoTextBox
      (input)="onFilter($event)"
    />
  </ng-template>
  <kendo-grid-column field="id" title="ID" [width]="100"></kendo-grid-column>
  <kendo-grid-column
    field="customer.name"
    title="Customer Name"
    [width]="200"
  ></kendo-grid-column>
  <kendo-grid-column
    field="amount"
    title="Total Amount"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="invoiceDate"
    title="Invoice Date"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column
    field="supplier.name"
    title="Supplier"
    [width]="150"
  ></kendo-grid-column>
  <kendo-grid-column title="Actions" [width]="150">
    <ng-template kendoGridCellTemplate let-dataItem>
      <button
        kendoButton
        themeColor="base"
        class="k-button"
        (click)="viewInvoice(dataItem)"
      >
        View
      </button>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
